includes:
    - phpstan-baseline.neon

parameters:
    doctrine:
        objectManagerLoader: tests/object-manager.php

    ignoreErrors:
        - identifier: missingType.generics

    level: 6
    paths:
        - bin
        - config
        - public
        - src
        - tests

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
